<%=link_to "Help Page", static_pages_help_path %>


<h1 align="center">Twitter Clone Sample App</h1>

<p align="center">Welcome To the HomePage <br>This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.</p>




