<div class="center jumbotron">
<h1>Welcome to twitter clone</h1>

<h2>
This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
twitter clone.
</h2>

<%= link_to "Sign Up" , "#", class: "btn btn-primary"%>
</div>

<%= link_to image_tag("warwick.jpg",alt:"Warwick Logo"), 'http://rubyonrails.org/'%>