<%=link_to "Help Page", static_pages_help_path %>




<DOCTYPE html>
<html>
<head>
<title>HomePage</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body bgcolor="red">
<div class"container">
<div class="row">
<div class="col-md-6" align="center">
<img src "/images/warwick.jpg">
<h1>Twitter Clone Sample App</h1>

<p>Welcome To the HomePage <br>This is the home page for the
<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
sample application.</p>
</div>
<div class="col-md-6" align="center">
<p>Second Column</p>
</div>
</div>
</div>
</body>
</html>
</html>



